<!-- Client/Pages/Login.razor -->
@page "/login"
@inject HttpClient Http
@code {
    private UserLoginDto user = new UserLoginDto();
    private async Task Login()
    {
        var response = await Http.PostAsJsonAsync("api/auth/login", user);
        if (response.IsSuccessStatusCode)
        {
            // Login successful
        }
        else
        {
            // Handle error
        }
    }
}

<h3>Login</h3>
<EditForm Model="user" OnValidSubmit="Login">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Email:</label>
        <InputText id="email" @bind-Value="user.Email" />
    </div>
    <div>
        <label>Password:</label>
        <InputText id="password" type="password" @bind-Value="user.Password" />
    </div>
    <button type="submit">Login</button>
</EditForm>
